openapi: 3.0.0
info:
  title: 'TaxTank API'
  contact:
    name: 'Nicole Kelly'
    url: taxtank.com.au
    email: nicole@taxtank.com.au
  license:
    name: 'TaxTank API 1.0'
    url: taxtank.com.au
  version: '1.0'
servers:
  -
    url: 'https://api.taxtank.com.au'
    description: 'TaxTank Accounting System'
  -
    url: 'https://api.uat.taxtank.com.au'
    description: 'TaxTank Accounting System. For UAT testing only'
  -
    url: 'https://api.test.taxtank.com.au'
    description: 'TaxTank Accounting System. For testing only'
  -
    url: 'http://ttservice'
    description: 'TaxTank Accounting System. Local development testing only'
  -
    url: 'http://api.taxtank.local'
    description: 'TaxTank Accounting System. Local development testing only with custom local TLD'
  -
    url: 'http://taxtank.lndo.site'
    description: 'TaxTank Accounting System. Local development with Lando testing only'
paths:
  /1.0/adminapi/login:
    post:
      summary: 'Admin & SubAdmin Login'
      operationId: 'App\Action\AdminUserAction::adminLoginAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/adminapi/removejwttoken:
    post:
      operationId: 'App\Action\AdminUserAction::removeJwtTokenAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/adminapi/jwtrefreshtoken:
    post:
      operationId: 'App\Action\AdminUserAction::removeRefreshTokenAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/users:
    post:
      operationId: 'App\Action\AdminUserAction::adminFetchAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/users/add:
    post:
      operationId: 'App\Action\AdminUserAction::addAdminUserAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/users/delete:
    post:
      operationId: 'App\Action\AdminUserAction::deleteAdminUserAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/users/status:
    post:
      operationId: 'App\Action\AdminUserAction::adminUpdateStatusAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  '/1.0/admin/users/{id}':
    post:
      operationId: 'App\Action\AdminUserAction::adminFetchUserAction'
      parameters:
        -
          name: id
          in: path
          description: 'user id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/customers:
    post:
      operationId: 'App\Action\AdminUserAction::listOfCustomerAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/bearerToken:
    get:
      operationId: 'App\Action\AppAction::getBearerTokenAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/api_documentation:
    post:
      summary: 'Return the API documentation in json or by default yaml format'
      operationId: 'App\Action\AppAction::getAPIDocsInFormattedAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankaccount/add/closingBalance:
    post:
      operationId: 'App\Action\BankFeedAction::addClosingBalanceAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankaccount/listForecasting:
    post:
      operationId: 'App\Action\BankFeedAction::listForecastingAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankaccount/deleteForecasting:
    post:
      operationId: 'App\Action\BankFeedAction::deleteForecastingAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankaccount/addProperty:
    post:
      operationId: 'App\Action\BankFeedAction::addBankfeedPropertyAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankaccount/listProperty:
    post:
      operationId: 'App\Action\BankFeedAction::listPropertyAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/assign:
    post:
      operationId: 'App\Action\BankFeedAction::assignTransactionAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/bankfeed/:
    get:
      operationId: 'App\Action\BankFeedAction::bankFeedCronAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeeds_register:
    post:
      operationId: 'App\Action\BankFeedAction::bankfeedRegisterAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/getaccounts:
    post:
      operationId: 'App\Action\BankFeedAction::getAccountsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/getaccountslist:
    post:
      operationId: 'App\Action\BankFeedAction::getAccountsListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/previoustransaction:
    post:
      operationId: 'App\Action\BankFeedAction::userPreviousTransactionAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeedsoftdelete:
    post:
      operationId: 'App\Action\BankFeedAction::bankFeedSoftdeleteAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/undoPrivateTransaction:
    post:
      operationId: 'App\Action\BankFeedAction::undoBankFeedSoftDeleteAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/undoBankFeedAllocate:
    post:
      operationId: 'App\Action\BankFeedAction::undoBankFeedAllocateAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankaccountheaderinfo:
    post:
      operationId: 'App\Action\BankFeedAction::bankAccountHeaderInfoAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeedSoftDeleteAndTransferList:
    post:
      operationId: 'App\Action\BankFeedAction::bankfeedSoftDeleteAndTransferListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/transactions:
    get:
      description: "\n     * Bankfeeds (Third party) APi call reference: get /transactions Get Transaction.\n     *\n     * Implementation Notes\n     *\n     * The Transaction service is used to get a list of transactions for a user.\n     * By default, this service returns the last 30 days of transactions from today's date.\n     * The keyword parameter performs a contains search on the original, consumer, and simple description\n     * attributes, replace the special characters #, &, and + with percent-encoding values %23, %26, and %2B respectively.\n     * Eg: for -Debit# , pass the input as -Debit%23.\n     * Values for categoryId parameter can be fetched from get transaction category list service.\n     * The categoryId is used to filter transactions based on system-defined category as well as user-defined category.\n     * User-defined categoryIds should be provided in the filter with the prefix 'U'. E.g. U10002\n     * The skip and top parameters are used for pagination. In the skip and top parameters pass the number of records to be skipped and retrieved, respectively. The response header provides the links to retrieve the next and previous set of transactions.\n     * Double quotes in the merchant name will be prefixed by backslashes (\\) in the response,\n     * e.g. Toys \\'R\\' Us.\n     * Note\n     * TDE is made available for bank and card accounts and for the US market only.The address field in the response is available only when the TDE key is turned on.\n     * accountReconType input parameter is relevant for investment accounts, provided the reconciliation feature is turned on.\n     * accountReconType input parameter will be ignored when container value passed is other than 'INVESTMENT'.\n     * accountReconType input parameter will be ignored when accountId(s) are passed.\n     * The pagination feature is available by default. If no values are passed in the skip and top parameters, the API will only return the first 500 transactions.\n     *     "
      operationId: 'App\Action\BankFeedAction::manualRefreshTransactionAction'
      parameters:
        -
          name: user_id
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: integer
        -
          name: container
          in: query
          description: bank/creditCard/investment/insurance/loan/reward/bill/realEstate/otherAssets/otherLiabilities.
          required: true
          schema:
            type: string
        -
          name: providerAccountId
          in: query
          description: 'The provider account identification number aka providerAccountId'
          schema:
            type: integer
        -
          name: accountId
          in: query
          description: 'CSV accountIds'
          schema:
            type: string
        -
          name: accountReconType
          in: query
          description: 'UNRECONCILED (Default value), RECONCILED'
          schema:
            type: string
        -
          name: include
          in: query
          description: 'profile, holder, fullAccountNumber'
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/previoustransactionhistory:
    post:
      operationId: 'App\Action\BankFeedAction::userPreviousTransactionHistoryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeeds_login:
    post:
      operationId: 'App\Action\BankFeedAction::bankfeedLoginAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/assignpropertyaccounts:
    post:
      operationId: 'App\Action\BankFeedAction::assignPropertyAccountsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeedDelete:
    post:
      operationId: 'App\Action\BankFeedAction::bankfeedDeleteAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/getBankFeedImport:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedImportAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankFeedCSVImport:
    post:
      operationId: 'App\Action\BankFeedAction::bankFeedCSVImportAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankFeedImportDelete:
    post:
      operationId: 'App\Action\BankFeedAction::bankFeedImportDeleteAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankaccount/addPropertyIdLoan:
    post:
      operationId: 'App\Action\BankFeedAction::addPropertyIdLoanAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankaccount/assignLoanTransaction:
    post:
      operationId: 'App\Action\BankFeedAction::assignLoanTransactionAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankaccount/add:
    post:
      summary: 'This method is used by three different routes that include /1.0/user/bankaccount/add and /1.0/user/bankaccount/update/status as well as /1.0/user/bankaccount/update/nickname'
      description: 'This method is used by three different routes that include /1.0/user/bankaccount/add and /1.0/user/bankaccount/update/status as well as /1.0/user/bankaccount/update/nickname'
      operationId: 'App\Action\BankFeedAction::addBankAccountsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/getbankaccountslist:
    post:
      operationId: 'App\Action\BankFeedAction::getBankAccountsListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/dropdown/getUserBankAccount:
    post:
      operationId: 'App\Action\BankFeedAction::getBankAccountsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/getSameAccountTransfer:
    post:
      operationId: 'App\Action\BankFeedAction::getSameAccountTransferAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/updateSameAccountTransfer:
    post:
      operationId: 'App\Action\BankFeedAction::updateSameAccountTransferAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/downloadSampleCSV:
    get:
      operationId: 'App\Action\BankFeedAction::downloadSampleCSVAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/cron/transfer/reconcile:
    get:
      operationId: 'App\Action\BankFeedAction::cronTransferReconcileAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/providers:
    get:
      description: "\n     * Implementation Notes\n     *\n     * The get provider service is used to retrieve all the providers that are enabled for the customer, search a provider service by its name or routing number, and retrieve popular sites of a region.\n     * Searching for a provider using a routing number is applicable only to the USA and Canada regions.\n     * The valid values for priority are:\n     * 1. cobrand: Returns providers that are enabled for the cobrand or customer (default value for priority)\n     * 2. popular: Returns providers that are popular among users of the customer\n     *\n     * Only the datasets, attributes, and containers that are enabled for the customer will be returned in the response.\n     * Input for the dataset$filter should adhere to the following expression:\n     * <dataset.name>[<attribute.name>.container[<container> OR <container>] OR <attribute.name>.container[<container>]]\n     * OR <dataset.name>[<attribute.name> OR <attribute.name>]\n     * dataset$filter value examples:\n     * ACCT_PROFILE[FULL_ACCT_NUMBER.container[bank OR investment OR creditCard]]\n     * ACCT_PROFILE[FULL_ACCT_NUMBER.container[bank]]\n     * BASIC_AGG_DATA[ACCOUNT_DETAILS.container[bank OR investment] OR HOLDINGS.container[bank]] OR ACCT_PROFILE[FULL_ACCT_NUMBER.container[bank]]\n     * BASIC_AGG_DATA\n     * BASIC_AGG_DATA OR ACCT_PROFILE\n     * BASIC_AGG_DATA [ ACCOUNT_DETAILS OR HOLDINGS ]\n     * BASIC_AGG_DATA [ ACCOUNT_DETAILS] OR DOCUMENT\n     * BASIC_AGG_DATA [ BASIC_ACCOUNT_INFO OR ACCOUNT_DETAILS ]\n     *\n     * The skip and top parameters are used for pagination. In the skip and top parameters, pass the number of records to be skipped and retrieved, respectively.\n     * The response header provides the links to retrieve the next and previous set of transactions.\n     *\n     * Note:\n     * 1. In a product flow involving user interaction, Yodlee recommends invoking this service with filters.\n     * 2. Without filters, the service may perform slowly as it takes a few minutes to return data in the response.\n     * 3. The AuthParameter appears in the response only in case of token-based aggregation sites.\n     * 4. The pagination feature only applies when the priority parameter is set as cobrand. If no values are provided in the skip and top parameters, the API will only return the first 500 records.\n     *\n     * Possible Yodlee responses:\n     * • 400    Y800 : Invalid value for priority\n     * • 400    Y800 : Invalid value for providerName\n     * • 400    Y801 : Invalid length for a site search. The search string must have atleast 1 character\n     * • 400    Y800 : Invalid value for skip\n     * • 400    Y804 : Permitted values of top between 1 - 500\n     * • 400    Y821 : Dataset not supported\n     * • 400    Y820 : The additionalDataSet is not supported for Get provider API\n     * • 400    Y824 : The maximum number of providerId permitted is 5\n     *     "
      operationId: 'App\Action\BankFeedAction::getProvidersAction'
      parameters:
        -
          name: user_id
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: integer
        -
          name: top
          in: query
          description: 'Top quantity of providers to be listed'
          required: false
          schema:
            type: integer
        -
          name: skip
          in: query
          description: 'Skip a number of providers'
          required: false
          schema:
            type: integer
        -
          name: count
          in: query
          description: 'Set to return the quantity of providers available from bankfeeds providers'
          required: false
          schema:
            type: boolean
        -
          name: name
          in: query
          description: 'List of providers with this keyword'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/cobrand/public_key:
    post:
      operationId: 'App\Action\BankFeedAction::getCobrandPublicKeyAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/providers/details:
    get:
      operationId: 'App\Action\BankFeedAction::getProviderDetailsByIDAction'
      parameters:
        -
          name: user_id
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: integer
        -
          name: id
          in: query
          description: 'Provider id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/providers/count:
    get:
      operationId: 'App\Action\BankFeedAction::getProvidersCountAction'
      parameters:
        -
          name: user_id
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: integer
        -
          name: priority
          in: query
          description: 'search priority'
          required: false
          schema:
            type: integer
        -
          name: skip
          in: query
          description: 'skip (Min 0) - this is not applicable along with ''name'' parameter'
          required: false
          schema:
            type: integer
        -
          name: top
          in: query
          description: 'top (Max 500) - this is not applicable along with ''name'' parameter'
          required: false
          schema:
            type: integer
        -
          name: dataset$filter
          in: query
          description: 'expression to filter the providers by dataset(s) or dataset attribute(s)-  the default value will be the dataset or dataset attibutes enabled for the customer'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/providers/accounts:
    post:
      description: "\n     * Bankfeeds (Third party) APi call reference: get /providerAccounts?providerId=123 Add Account.\n     * ********************************************************************************************************************\n     * Implementation Notes\n     *\n     * The add account service is used to link the user's account with the provider site in the Yodlee system. Providers that require multifactor authentication or open banking are also supported by this service. The response includes the Yodlee generated ID (providerAccountId) of the account along with the refresh information.\n     *\n     * Open Banking Implementation Notes:\n     * To link the user's account of the Open Banking provider site in the Yodlee system, pass the field entity that contains:\n     * 1. id - From the authParameters provided in the get provider details service\n     * 2. value - From the redirect URL of the Open Banking site\n     *\n     * Credential-based Implementation Notes:\n     * 1. The loginForm or the field array are the objects under the provider object, obtained from the get provider details service response.\n     * 2. The credentials provided by the user should be embedded in the loginForm or field array object.\n     * 3. While testing the PKI feature, encrypt the credentials using the encryption utility.\n     * 4. The data to be retrieved from the provider site can be passed using datasetName or dataset. If datasetName is passed, all the attributes that are implicitly configured for the dataset will be retrieved.\n     * 5. If the customer has not subscribed to the REFRESH event webhooks notification for accounts that require multifactor authentication (MFA), the get providerAccount service has to be called continuously till the login form (supported types are token, question & answer, and captcha) is returned in the response.\n     * 6. The update account service should be called to post the MFA information to continue adding the account.\n     *\n     * Generic Implementation Notes:\n     * 1. Refer to the add account flow chart for implementation.\n     * 2. The get provider account details has webhooks support. If the customer has subscribed to the REFRESH event notification and has invoked this service to add an account, relevant notifications will be sent to the callback URL.\n     * 3. If you had not subscribed for notifications, the get provider account details service has to be polled continuously till the account addition status is FAILED or PARTIAL_SUCCESS or SUCCESS.\n     * 4. A dataset may depend on another dataset for retrieval, so the response will include the requested datasets and the dependent datasets.\n     * It is necessary to check all the dataset additional statuses returned in the response, as the provider account status is drawn from the dataset additional statuses.\n     * 5. Pass linkedProviderAccountId in the input to link a user's credential-based providerAccount with the open banking providerAccount. Ensure that the credential-based providerAccount belongs to the same institution.\n     * 6. The content type has to be passed as application/json in the body parameter.\n     * ********************************************************************************************************************\n     * Bankfeeds (Third party) APi call reference: get /providerAccounts?providerAccountIds=123,234,345 Update Account.\n     * Implementation Notes\n     *\n     * Credential-based Implementation Notes:\n     * The update account API is used to:\n     * • Retrieve the latest information for accounts that belong to one providerAccount from the provider site. You must allow at least 15 min between requests.\n     * • Update account credentials when the user has changed the authentication information at the provider site.\n     * • Post MFA information for the MFA-enabled provider accounts during add and update accounts.\n     * • Retrieve the latest information of all the eligible accounts that belong to the user.\n     *\n     * Edit Credentials - Notes:\n     * • If credentials have to be updated in the Yodlee system, one of the following should be provided:\n     * ◦ LoginForm\n     * ◦ Field array\n     * • LoginForm or the field array, can be obtained from the GET providerAccounts/{providerAccountId}?include=credentials API response.\n     * • The credentials provided by the user should be embedded in the loginForm or field array object before you pass to this API.\n     *\n     * Posting MFA Info - Notes:\n     * 1. You might receive the MFA request details to be presented to the end user in the GET providerAccounts/{providerAccount} API during polling or through REFRESH webhooks notificaiton.\n     * 2. After receiving the inputs from your user:\n     * a.Embed the MFA information provided by the user in the loginForm or field array object.\n     * b.Pass one of the following objects as input to this API:\n     * • LoginForm\n     * • Field array\n     *\n     * Points to consider:\n     * • Data to be retrieved from the provider site can be overridden using datasetName or dataset. If you do pass datasetName, all the datasets that are implicitly configured for the dataset will be retrieved. This action is allowed for edit credentials and single provider account refresh flows only.\n     * • Encrypt the credential and MFA information using the public key, as explained on this page.\n     * • Public key encryption of PII fields is not supported in the sandbox environment. For development and production environments, please follow the advice on this page.\n     *\n     * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------\n     * Open Banking (OB)-based Authentication - Notes:\n     * The update account API is used to:\n     * • Retrieve the latest information for accounts from the provider site.\n     * • Update the renewed consent for an existing provider account.\n     * • Retrieve the latest information for all the eligible accounts that belong to the user.\n     *\n     * Yodlee recommendations:\n     * • Create the field entity with the authParameters provided in the get provider details API.\n     * • Populate the field entity with the values received from the OB site and pass it to this API.\n     *\n     * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------\n     * Update All Eligible Accounts - Notes:\n     * • This API will trigger a refresh for all the eligible provider accounts(both OB and credential-based accounts).\n     * • This API will not refresh closed, inactive, or UAR accounts, or accounts with refreshes in-progress or recently refreshed non-OB accounts.\n     * • No parameters should be passed to this API to trigger this action.\n     * • Do not call this API often. Our recommendation is to call this only at the time the user logs in to your app because it can hamper other API calls performance.\n     * • The response only contains information for accounts that were refreshed. If no accounts are eligible for refresh, no response is returned.\n     *\n     * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------\n     * What follows are common to both OB and credential-based authentication implementations:\n     * • Check the status of the providerAccount before invoking this API. Do not call this API to trigger any action on a providerAccount when an action is already in progress for the providerAccount.\n     * • If the customer has subscribed to the REFRESH event notification and invoked this API, relevant notifications will be sent to the customer.\n     * • A dataset may depend on another dataset for retrieval, so the response will include the requested and dependent datasets.\n     * • Check all the dataset additional statuses returned in the response because the provider account status is drawn from the dataset additional statuses.\n     * • Updating preferences using this API will trigger refreshes.\n     * • Pass linkedProviderAccountId in the input to link a user’s credential-based providerAccount with the OB providerAccount or viceversa. Ensure that the both the providerAccounts belong to the same institution.\n     * • The content type has to be passed as application/json for the body parameter\n     * Possible Yodlee responses:\n     * • 400    Y805 : Multiple providerAccountId not supported for updating credentials\n     * • 400    Y800 : Invalid value for providerAccountsParam\n     * • 400    Y812 : Required field/value - field.id missing in the providerAccountsParam\n     * • 400    Y812 : Required field/value - field.value missing in the providerAccountsParam\n     * • 400    Y806 : Invalid input\n     * • 400    Y823 : Credentials are not applicable for real estate aggregated / manual accounts\n     * • 400    Y852 : Duplicate dataset name cannot be passed in the input.\n     * • 400    Y853 : Dataset and datasetName parameters cannot be passed simultaneously\n     * "
      operationId: 'App\Action\BankFeedAction::getProvidersAccountsAction'
      parameters:
        -
          name: user_id
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: integer
        -
          name: providerAccountIds
          in: query
          description: 'THIS IS A REQUIRED FIELD FOR ADDING AN ACCOUNT ONLY. Provider ACCOUNT ids. CSV providerAccountIds. Used in Update Account only.'
          schema:
            type: string
        -
          name: providerId
          in: query
          description: 'THIS IS A REQUIRED FIELD FOR ADDING AN ACCOUNT ONLY. Provider id. Used in Add Account only'
          schema:
            type: integer
        -
          name: loginForm
          in: query
          description: 'Login form aquired of get providers details'
          required: true
          schema:
            type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/providers/accounts/details:
    post:
      description: "Bankfeeds (Third party) APi call reference: get /providerAccounts/{providerAccountId} Get Provider Account Details.\n     * Implementation Notes\n     * The get provider account details service is used to learn the status of adding accounts and updating accounts.\n     * This service has to be called continuously to know the progress level of the triggered process. This service also provides the MFA information requested by the provider site.\n     * When include=credentials,questions is passed as input, the service returns the credentials (non-password values) and questions stored in the Yodlee system for that provider account.\n     * Note: The password and answer fields are not returned in the response.\n     * Possible Yodlee responses: error -> 400, message -> Y800 : Invalid value for providerAccountId or error -> 400, message -> Y816 : questions can only be requested for questionAndAnswer Supported Sites"
      operationId: 'App\Action\BankFeedAction::getProvidersAccountsDetailsAction'
      parameters:
        -
          name: user_id
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: integer
        -
          name: providerAccountId
          in: query
          description: 'Provider account id'
          required: true
          schema:
            type: integer
        -
          name: include
          in: query
          description: 'credentials,questions,preferences'
          required: false
          schema:
            type: string
        -
          name: requestId
          in: query
          description: 'The unique identifier for the request that returns contextual data'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /2.0/user/bankfeed/2.0/ydl/1.1/transactions:
    get:
      description: "\n     * Implementation Notes\n     *\n     * The Transaction service is used to get a list of transactions for a user.\n     * By default, this service returns the last 30 days of transactions from today's date.\n     * The keyword parameter performs a contains search on the original, consumer, and simple description\n     * attributes, replace the special characters #, &, and + with percent-encoding values %23, %26, and %2B respectively.\n     * Eg: for -Debit# , pass the input as -Debit%23.\n     * Values for categoryId parameter can be fetched from get transaction category list service.\n     * The categoryId is used to filter transactions based on system-defined category as well as user-defined category.\n     * User-defined categoryIds should be provided in the filter with the prefix 'U'. E.g. U10002\n     * The skip and top parameters are used for pagination. In the skip and top parameters pass the number of records to be skipped and retrieved, respectively. The response header provides the links to retrieve the next and previous set of transactions.\n     * Double quotes in the merchant name will be prefixed by backslashes (\\) in the response,\n     * e.g. Toys \\'R\\' Us.\n     * Note\n     * TDE is made available for bank and card accounts and for the US market only.The address field in the response is available only when the TDE key is turned on.\n     * accountReconType input parameter is relevant for investment accounts, provided the reconciliation feature is turned on.\n     * accountReconType input parameter will be ignored when container value passed is other than 'INVESTMENT'.\n     * accountReconType input parameter will be ignored when accountId(s) are passed.\n     * The pagination feature is available by default. If no values are passed in the skip and top parameters, the API will only return the first 500 transactions.\n     *     "
      operationId: 'App\Action\BankFeedAction::getAccountsTransactionsAction'
      parameters:
        -
          name: user_id
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: integer
        -
          name: container
          in: query
          description: bank/creditCard/investment/insurance/loan
          required: true
          schema:
            type: string
        -
          name: baseType
          in: query
          description: DEBIT/CREDIT
          schema:
            type: string
        -
          name: keyword
          in: query
          description: 'Transaction search text'
          schema:
            type: string
        -
          name: accountId
          in: query
          description: 'CSV accountIds'
          schema:
            type: string
        -
          name: fromDate
          in: query
          description: 'Transaction from date(YYYY-MM-DD)'
          schema:
            type: string
        -
          name: toDate
          in: query
          description: 'Transaction end date (YYYY-MM-DD)'
          schema:
            type: string
        -
          name: categoryId
          in: query
          description: 'CSV categoryIds'
          schema:
            type: string
        -
          name: highLevelCategoryId
          in: query
          description: 'CSV highLevelCategoryIds'
          schema:
            type: string
        -
          name: type
          in: query
          description: 'Transaction Type(Supported containers: bank/card/investment)'
          schema:
            type: string
        -
          name: categoryType
          in: query
          description: 'Transaction Category Type(UNCATEGORIZE, INCOME, TRANSFER, EXPENSE or DEFERRED_COMPENSATION)'
          schema:
            type: string
        -
          name: skip
          in: query
          description: 'skip (Min 0)'
          schema:
            type: integer
        -
          name: top
          in: query
          description: ' top (Max 500)'
          schema:
            type: integer
        -
          name: detailCategoryId
          in: query
          description: 'CSV detailCategoryIds'
          schema:
            type: string
        -
          name: date
          in: query
          description: 'Our internal parameters'
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/providers/accounts/list:
    post:
      operationId: 'App\Action\BankFeedAction::getProvidersAccountsListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/statements:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedStatementsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/documents:
    post:
      operationId: 'App\Action\BankFeedAction::getBakFeedDocumentsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/users/register:
    get:
      description: "This is a registration within the bankfeeds provider only\n     *\n     * Implementation Notes\n     *\n     * The register user service is used to register a user in Yodlee.\n     * The loginName cannot include spaces and must be between 3 and 150 characters.\n     * locale passed must be one of the supported locales for the customer.\n     * Currency provided in the input will be respected in the derived services and the amount fields in the response will be provided in the preferred currency.\n     * userParam is accepted as a body parameter.\n     * Note: The content type has to be passed as application/json for the body parameter. "
      operationId: 'App\Action\BankFeedAction::getBankFeedRegisterUserAction'
      parameters:
        -
          name: user_id
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: integer
        -
          name: user
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/users/unregister:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedUnregisterUserAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/users:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedRegisteredUserAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/users/update:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedRegisteredUserUpdateAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/accounts:
    get:
      description: "\n     * Implementation Notes\n     *\n     * The get accounts service provides information about accounts added by the user.\n     * By default, this service returns information for active and to be closed accounts.\n     * If requestId is provided, the accounts that are updated in the context of the requestId will be provided in the response.\n     *     "
      operationId: 'App\Action\BankFeedAction::getBankFeedAccountsAction'
      parameters:
        -
          name: user_id
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: integer
        -
          name: status
          in: query
          description: ACTIVE/INACTIVE/TO_BE_CLOSED/CLOSED
          schema:
            type: string
        -
          name: container
          in: query
          description: bank/creditCard/investment/insurance/loan/reward/bill/realEstate/otherAssets/otherLiabilities.
          required: true
          schema:
            type: string
        -
          name: providerAccountId
          in: query
          description: 'The provider account identification number aka providerAccountId'
          schema:
            type: integer
        -
          name: accountId
          in: query
          description: 'CSV accountIds'
          schema:
            type: string
        -
          name: accountReconType
          in: query
          description: 'UNRECONCILED (Default value), RECONCILED'
          schema:
            type: string
        -
          name: include
          in: query
          description: 'profile, holder, fullAccountNumber'
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/accounts/add:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedAddAccountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/accounts/delete:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedDeleteAccountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/accounts/update:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedUpdateAccountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/accounts/details:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedDetailsAccountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/providers/accounts/profile:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedProviderProfileAccountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/bankfeed/2.0/ydl/1.1/accounts/historical_balances:
    post:
      operationId: 'App\Action\BankFeedAction::getBankFeedHistoricalBalancesAccountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/group/add:
    post:
      operationId: 'App\Action\CategoryAction::storeChartAccountsGroupAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/group:
    post:
      operationId: 'App\Action\CategoryAction::getChartAccountsGroupListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/group/delete:
    post:
      operationId: 'App\Action\CategoryAction::deleteChartAccountsGroupAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/group/status:
    post:
      operationId: 'App\Action\CategoryAction::statusChartAccountsGroupAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/grouplist:
    post:
      operationId: 'App\Action\CategoryAction::listChartAccountsGroupAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/type/add:
    post:
      operationId: 'App\Action\CategoryAction::storeChartAccountsTypeAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/type:
    post:
      operationId: 'App\Action\CategoryAction::getChartAccountsTypeListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/type/delete:
    post:
      operationId: 'App\Action\CategoryAction::deleteChartAccountsTypeAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/type/status:
    post:
      operationId: 'App\Action\CategoryAction::statusChartAccountsTypeAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/typelist:
    post:
      operationId: 'App\Action\CategoryAction::listChartAccountsTypeAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/account/add:
    post:
      operationId: 'App\Action\CategoryAction::storeCategoryAccountsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/account/get:
    post:
      operationId: 'App\Action\CategoryAction::getCategoryAccountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/account:
    post:
      operationId: 'App\Action\CategoryAction::getCategoryAccountListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/account/item/list:
    post:
      operationId: 'App\Action\CategoryAction::getAccountItemListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/account/delete:
    post:
      description: 'Method used by two routes: /1.0/admin/category/item/delete and /1.0/admin/category/account/delete'
      operationId: 'App\Action\CategoryAction::deleteCategoryAccountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/account/status:
    post:
      description: 'Method in use by two routes: /1.0/admin/category/item/status and /1.0/admin/category/account/status'
      operationId: 'App\Action\CategoryAction::statusCategoryAccountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/category/account/expense:
    get:
      operationId: 'App\Action\CategoryAction::categoryExpenseTypeAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/category/account/depreciation:
    get:
      operationId: 'App\Action\CategoryAction::categoryDepreciationTypeAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/accountlist:
    post:
      operationId: 'App\Action\CategoryAction::listCategoryaccountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/item:
    post:
      operationId: 'App\Action\CategoryAction::getCategoryItemListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/item/add:
    post:
      operationId: 'App\Action\CategoryAction::storeCategoryItemsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /PLACEHOLDER-deleteCategoryItemAction:
    post:
      operationId: 'App\Action\CategoryAction::deleteCategoryItemAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /PLACEHOLDER-statusCategoryItemAction:
    post:
      summary: 'NO OPEN API DOCUMENTATION SETUP FOR THIS METHOD'
      operationId: 'App\Action\CategoryAction::statusCategoryItemAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/categoryList:
    post:
      operationId: 'App\Action\CategoryAction::categoryListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/summary/addEdit:
    post:
      operationId: 'App\Action\CategoryAction::addSummaryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/summary/statusUpdate:
    post:
      operationId: 'App\Action\CategoryAction::statusActivateAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/summary/list:
    post:
      operationId: 'App\Action\CategoryAction::getListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/summary/category/list:
    post:
      operationId: 'App\Action\CategoryAction::acountitemSummarylistAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/summary/label/list:
    post:
      operationId: 'App\Action\CategoryAction::labelListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/admin/category/itemById:
    post:
      operationId: 'App\Action\CategoryAction::categoryEditByIdAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /PLACEHOLDER-getTaxablepropertyCountAction:
    post:
      operationId: 'App\Action\CategoryAction::getTaxablepropertyCountAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/dashboard:
    post:
      operationId: 'App\Action\DashboardAction::dashboardAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/worktankDashboard:
    post:
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /PLACEHOLDER-getDepreciationValueAction:
    post:
      operationId: 'App\Action\DepreciationAction::getDepreciationValueAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/depreciation/documentUpload:
    post:
      operationId: 'App\Action\DepreciationAction::documentUploadAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/depreciation/documentDelete:
    post:
      operationId: 'App\Action\DepreciationAction::documentRemoveAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/depreciation/add:
    post:
      description: 'This method is used by three different routes which includes /1.0/user/depreciation/add and /1.0/user/depreciation/addCapital as well as /1.0/user/depreciation/addOffline'
      operationId: 'App\Action\DepreciationAction::addDepreciationAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/getDepreciationList:
    post:
      operationId: 'App\Action\DepreciationAction::getDepreciationListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/getDepreciationCapitalList:
    post:
      operationId: 'App\Action\DepreciationAction::getDepreciationCapitalListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/getDepreciationDetail:
    post:
      operationId: 'App\Action\DepreciationAction::getDepreciationDetailAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/category/addGroupcategory:
    post:
      operationId: 'App\Action\DepreciationAction::addGroupcategoryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/category/editGroupcategory:
    post:
      operationId: 'App\Action\DepreciationAction::editGroupcategoryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/category/listGroupcategory:
    post:
      operationId: 'App\Action\DepreciationAction::listGroupcategoryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/category/deleteGroupcategory:
    post:
      operationId: 'App\Action\DepreciationAction::deleteGroupcategoryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/depreciation/edit:
    post:
      operationId: 'App\Action\DepreciationAction::editDepreciationAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/depreciation/writeoff:
    post:
      operationId: 'App\Action\DepreciationAction::depreciationWriteoffAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/depreciation/balanceSummary:
    post:
      operationId: 'App\Action\DepreciationAction::depreciationBalanceSummaryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/depreciation/replace:
    post:
      operationId: 'App\Action\DepreciationAction::depreciationReplaceAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/depreciation/delete:
    post:
      operationId: 'App\Action\DepreciationAction::deleteDepreciationAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/depreciation/lvp:
    post:
      operationId: 'App\Action\DepreciationAction::depreciationSetLvpAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/depreciationType/update:
    post:
      operationId: 'App\Action\DepreciationAction::updateDepreciationTypeAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/getDepreciationValue:
    post:
      operationId: 'App\Action\DepreciationAction::getDepreciationClaimAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/incomeAddForecasting:
    post:
      operationId: 'App\Action\ForecastingIncomeDetailsAction::addUserForecastingIncomeDetailAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/workSummary:
    post:
      operationId: 'App\Action\ForecastingIncomeDetailsAction::userSalaryCalculationsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/listEmployer:
    post:
      operationId: 'App\Action\ForecastingIncomeDetailsAction::listEmployerEntityAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/dropdown/employer:
    post:
      operationId: 'App\Action\ForecastingIncomeDetailsAction::getEmployerAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /2.0/user/notifications:
    get:
      tags:
        - notifications
      summary: 'GET /notifications - return list of all user''s notifications with deleted_on timestamp is null'
      description: 'GET /notifications - return list of all user''s notifications with deleted_on timestamp is null'
      operationId: 'App\Action\NotificationAction::getNotifications'
      parameters:
        -
          name: user_id
          in: query
          description: 'Local user id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'GET /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                  data: { description: 'GET /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                  message: { description: 'GET /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                type: object
        '500':
          description: failure
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'GET /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                  data: { description: 'GET /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                  message: { description: 'GET /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                type: object
    post:
      tags:
        - notifications
      summary: 'POST /notifications - add notification against an user and an accountant'
      description: 'POST /notifications - add notification against an user and an accountant'
      operationId: 'App\Action\NotificationAction::addNotification'
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - creator_id
                - recipient_id
                - message
                - type
              properties:
                creator_id:
                  description: 'id of the creator'
                  type: integer
                recipient_id:
                  description: 'id of the recipient'
                  type: integer
                subject:
                  description: 'the subject of the message to be sent'
                  type: string
                message:
                  description: 'the body of the message to be sent'
                  type: string
                type:
                  description: 'the type of message'
                  type: string
                action_id:
                  description: 'the action id associated with the message'
                  type: integer
                module:
                  description: 'the module associated with the message'
                  type: string
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'POST /notifications - add notification against an user and an accountant', type: string }
                  data: { description: 'POST /notifications - add notification against an user and an accountant', type: string }
                  message: { description: 'POST /notifications - add notification against an user and an accountant', type: string }
                type: object
        '500':
          description: failure
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'POST /notifications - add notification against an user and an accountant', type: string }
                  data: { description: 'POST /notifications - add notification against an user and an accountant', type: string }
                  message: { description: 'POST /notifications - add notification against an user and an accountant', type: string }
                type: object
  '/2.0/user/notifications/{enquiry_id}':
    delete:
      tags:
        - notifications
      summary: 'DELETE /notifications - return list of all user''s notifications with deleted_on timestamp is null'
      description: 'GET /notifications - return list of all user''s notifications with deleted_on timestamp is null'
      operationId: 'App\Action\NotificationAction::deleteNotification'
      parameters:
        -
          name: enquiry_id
          in: path
          description: 'The actual notification id in the database'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'DELETE /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                  data: { description: 'DELETE /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                  message: { description: 'DELETE /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                type: object
        '500':
          description: failure
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'DELETE /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                  data: { description: 'DELETE /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                  message: { description: 'DELETE /notifications - return list of all user''s notifications with deleted_on timestamp is null', type: string }
                type: object
  /1.0/user/property/header:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getHeaderAction'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              required:
                - user_id
                - property_id
                - year
              properties:
                user_id:
                  description: 'id of the user'
                  type: integer
                property_id:
                  description: 'id of the property'
                  type: integer
                year:
                  description: 'the financial year required'
                  type: integer
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/property/sold:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::propertySoldAction'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              required:
                - user_id
                - property_id
              properties:
                user_id:
                  description: 'id of the user'
                  type: integer
                property_id:
                  description: 'id of the property'
                  type: integer
                sold_date:
                  description: 'sold date'
                  type: string
                contract_sale_date:
                  description: 'contract sale date'
                  type: string
                sale_amount:
                  description: 'sale amount'
                  type: string
                sale_expenses:
                  description: 'sale expenses'
                  type: string
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  data: { type: object }
                  message: { type: string }
                  code: { type: integer }
                type: object
  /1.0/user/category/property:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getCatPropertyAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  message: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/addproperty:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::addPropertyAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  property_ids: { type: object }
                type: object
  /missing_route:
    get:
      description: ''
      operationId: 'App\Action\PropertyAction::getNetCrossFeesAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  property_ids: { type: object }
                  info: { type: object }
                type: object
  /1.0/user/properyget:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getPropertyAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/addloan:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::addPropertyLoanAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  message: { type: string }
                type: object
  /1.0/user/updateloan:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::updatePropertyLoanAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  message: { type: string }
                type: object
  /1.0/user/updateproperty:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::updatePropertyAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: integer }
                  message: { type: string }
                type: object
  /1.0/user/getCapitalCost:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getCapitalCostAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/getloan:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getPropertyLoanAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/add/loanForecasting:
    post:
      description: 'This is in use by two different routes which includes /1.0/user/edit/loanForecastingedit as well as /1.0/user/add/loanForecasting'
      operationId: 'App\Action\PropertyAction::loanForecastingAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  message: { type: string }
                type: object
  /1.0/user/list/loanForecasting:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::loanForecastingListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/getpropertydetails:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getpropertydetailsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/add/propertyForecasting:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::propertyForecastingAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  message: { type: string }
                type: object
  /1.0/user/edit/propertyForecastingedit:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::propertyForecastingeditAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  message: { type: string }
                type: object
  /1.0/user/list/propertyForecasting:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::listPropertyForecastingAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  data: { type: object }
                  code: { type: integer }
                type: object
  /1.0/user/property/shareList:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::propertyShareListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  data: { type: object }
                  code: { type: integer }
                type: object
  /1.0/user/cron/propertyForecast:
    get:
      description: ''
      operationId: 'App\Action\PropertyAction::propertyForecastingCronAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  message: { type: string }
                type: object
  /1.0/user/property/inviteRequest:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::inviteRequestAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  message: { type: string }
                type: object
  /1.0/user/property/pendingRemainder:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::pendingRemainderAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  message: { type: string }
                type: object
  /1.0/user/property/inviteList:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::inviteListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/property/inviteProcess:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::inviteProcessAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  message: { type: string }
                type: object
  /1.0/user/property/holders:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::inviteHoldersAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/property/invitePermission:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::invitePermissionAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/getForecasts:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getForecastsAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/addForecastCurrentValue:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::addForecastCurrentValueAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  message: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/getCoreLogicToken:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getCoreLogicTokenAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  message: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/getForecastList:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getForecastListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/getCategory:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getPropertyCatAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/getBorrowingExpense:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::getBorrowingExpenseAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  code: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/property/inviteEdit:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::inviteEditAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  data: { type: object }
                  code: { type: string }
                type: object
  /1.0/user/property/inviteUpdate:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::inviteSaveAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  message: { type: string }
                  code: { type: integer }
                type: object
  /1.0/user/shareRemove:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::shareRemoveAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  message: { type: string }
                  code: { type: integer }
                type: object
  /1.0/user/property/list:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::propertyListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  data: { type: object }
                type: object
  /1.0/user/loan/paidoff:
    post:
      description: ''
      operationId: 'App\Action\PropertyAction::loanPaidOffAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  message: { type: string }
                  code: { type: integer }
                type: object
  /1.0/user/category:
    post:
      operationId: 'App\Action\PropertyCategoryAction::getUserCategoryMasAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/property/dashboard:
    post:
      operationId: 'App\Action\PropertyCategoryAction::getPropertyCategoryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /PLACEHOLDER-getPropertiesAction:
    post:
      operationId: 'App\Action\PropertyCategoryAction::getPropertiesAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/propertycategory/addEditPropertyCategory:
    post:
      operationId: 'App\Action\PropertyCategoryAction::addEditPropertyCategoryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/propertycategory/removePropertyCategory:
    post:
      operationId: 'App\Action\PropertyCategoryAction::removePropertyCategoryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/propertycategory/defaultPropertyCategory:
    post:
      operationId: 'App\Action\PropertyCategoryAction::defaultPropertyCategoryAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/propertycategory/propertyMovement:
    post:
      operationId: 'App\Action\PropertyCategoryAction::propertyMovementAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /1.0/user/propertycategory/propertyMovementList:
    post:
      operationId: 'App\Action\PropertyCategoryAction::propertyMovementListAction'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
[...]
